/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
@font-face {
  font-family: 'VMCircularWhisper-Light';
  src: url("../fonts/VMCircularWhisper-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/VMCircularWhisper-Light.otf") format("opentype"), url("../fonts/VMCircularWhisper-Light.woff") format("woff"), url("../fonts/VMCircularWhisper-Light.ttf") format("truetype"), url("../fonts/VMCircularWhisper-Light.svg#VMCircularWhisper-Light") format("svg");
  font-weight: normal;
  font-style: normal;
}
* {
  -webkit-tap-highlight-color: transparent;
  /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-y: hidden;
  overflow-x: scroll;
}

body {
  -webkit-touch-callout: none;
  /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;
  /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;
  /* prevent copy paste, to allow, change 'none' to 'text' */
  font-family: 'VMCircularWhisper-Light', sans-serif;
  -webkit-text-stroke: 1px white;
  letter-spacing: 1px;
  -webkit-font-smoothing: antialiased;
  font-size: 12px;
  height: 100%;
  margin: 0px;
  padding: 0px;
  width: 100%;
  background-color: black;
  color: white;
}

.splash {
  width: 1024px;
  height: 768px;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  background: url(../img/splash.jpg) center center no-repeat;
  background-size: cover;
}
.splash a#start-button {
  width: 150px;
  height: 150px;
  background: url(../img/play_button.png) center center no-repeat;
  background-size: 100%;
  position: absolute;
  bottom: 50px;
  left: 50%;
  margin-left: -75px;
  -webkit-filter: drop-shadow(12px 12px 25px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(12px 12px 25px rgba(0, 0, 0, 0.5));
  text-decoration: none;
}

/* Portrait layout (default) */
.app {
  width: 1024px;
  height: 768px;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  overflow-y: hidden;
  overflow-x: scroll;
  /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
}
.app #timeline {
  padding: 50px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  height: 194px;
  margin: 234px 200px 0;
  position: relative;
  z-index: 100;
}
.app #timeline .start, .app #timeline .end {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
}
.app #timeline .start {
  margin-top: 71px;
  width: 47px;
  height: 47px;
  background-image: url(../img/start.png);
  float: left;
}
.app #timeline .content {
  float: left;
}
.app #timeline .content a.year {
  position: relative;
  display: block;
  float: left;
  width: 152px;
  height: 93px;
  background: url(../img/divider.png) bottom center no-repeat;
  background-size: 3px 46px;
  border-bottom: 3px solid white;
  font-size: 35px;
  line-height: 1;
  text-align: center;
  padding-top: 0;
}
.app #timeline .content a.year .count {
  width: 30px;
  height: 18px;
  text-align: center;
  font-size: 8px;
  background: url(../img/small-polaroid.png) center center no-repeat;
  background-size: 15px 18px;
  transform: rotate(14deg);
  padding-top: 8px;
  margin-left: 113px;
  margin-top: -40px;
}
.app #timeline .content a.year:nth-child(2n) {
  background-position-y: top;
  border-bottom: none;
  border-top: 3px solid white;
  padding-top: 45px;
  margin-top: 93px;
  height: 57px;
}
.app #timeline .content a.year:not(:first-child) {
  margin-left: -75px;
}
.app #timeline .end {
  width: 32px;
  height: 49px;
  background-image: url(../img/end.png);
  float: left;
  margin-top: 71px;
}
.app #overlay {
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 1024px;
  height: 768px;
  overflow-y: scroll;
  z-index: 1000;
}
.app #overlay a.close-modal {
  background: url(../img/close.png) top left no-repeat;
  background-size: 54px 54px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 49px;
  right: 18px;
  width: 54px;
  height: 54px;
  text-decoration: none;
  z-index: 2000;
}
.app #overlay .controls {
  position: fixed;
  width: 889px;
  height: 54px;
  top: 351px;
  left: 50%;
  margin-left: -445.5px;
  z-index: 1500;
}
.app #overlay .controls #cycle-prev, .app #overlay .controls #cycle-next {
  width: 54px;
  height: 54px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.app #overlay .controls #cycle-prev {
  float: left;
  background-image: url(../img/prev.png);
}
.app #overlay .controls #cycle-next {
  float: right;
  background-image: url(../img/next.png);
}
.app #overlay .image-year {
  background-color: rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  width: 889px;
  height: 571px;
  position: relative;
  top: 50%;
  left: 50%;
  margin-left: -466.5px;
  margin-top: -307.5px;
  overflow: hidden;
  padding: 22px;
}
.app #overlay .image-year .image {
  text-align: center;
  width: 885px;
  height: 566px;
  display: block;
  margin-top: 22px;
}
.app #overlay .image-year .image img {
  height: 410px;
  width: auto;
  margin: 0 auto;
}
.app #overlay .image-year .image p {
  margin: 0;
  padding: 0;
  width: 80%;
  margin: 0 auto;
}
.app #overlay .image-year .image p.title {
  font-size: 40px;
}
.app #overlay .image-year .image p.date {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.5);
  -webkit-text-stroke-color: rgba(255, 255, 255, 0.5);
}
.app #overlay .image-year .image p.description {
  font-size: 20px;
  margin-top: 15px;
}
.app .backgrounds {
  position: fixed;
  top: 0;
  left: 0;
}
.app .backgrounds .background {
  width: 1024px;
  height: 768px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-repeat: no-repeat;
  background-size: 1024px 768px;
  -webkit-transition: background-position-x 0.2s;
  -moz-transition: background-position-x 0.2s;
  -ms-transition: background-position-x 0.2s;
  -o-transition: background-position-x 0.2s;
  transition: background-position-x 0.2s;
}
.app .backgrounds .background.gillingham {
  background-image: url(../img/gillingham.jpg);
  display: none;
}
.app .backgrounds .background.crayford {
  background-image: url(../img/crayford.jpg);
}

.clearfix {
  display: inline-block;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}

/*# sourceMappingURL=styles.css.map */
